
{{ form_start(form) }}
{{ form_widget(form) }}
<br>
<button class="btn btn-success">{{action}}</button>
{{ form_end(form) }}
<a href="{{ path('app_user_showaccount') }}"><button class="btn btn-danger" value="Retour">Retour</button></a>